<!DOCTYPE html>
<html lang="en">
	<head>	
    <script src="/js/custom.modernizr.js"></script>
		<link rel="stylesheet" href="session.css.scss">
	</head>
<body>
  <div id="body">
    <div class="row">
    <div class="small-12 columns">
      <h1>Trek it!</h1>
    <div class="small-3 large-9 columns">
      <ul class="right button-group">
      <li><a href="#" class="button">About Us</a></li>
      <li><a href="#" class="button">API's</a></li>
      <li><a href="#" class="button">Supported Countries</a></li>
      </ul>
     </div>
    </div>
  </div>
<!-- End Header/Title -->

 <!-- Orbit Photo Slider Panel -->
<div class="row">
  <div class="large-8 columns">
    <div class="panel">
      <div id="orbit_slider">
        <ul data-orbit>
          <li>
            <%= image_tag("peaceful_lake.jpg") %>
            <div class="orbit-caption">Use Trek It No Matter Where You Are</div>
          </li>
          <li>
            <%= image_tag("machu.jpg") %>
            <div class="orbit-caption">Share Pictures and Notes with Friends and Family</div>
          </li>
          <li>
            <%= image_tag("nice_dinner.jpg") %>
            <div class="orbit-caption">Allow us to remember dinner recommendations!</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- End of Orbit Photo Slider Panel -->

  <!-- Left-aligned sidebar Lost Password -->
  <div class="small-12 large-2 columns">
    <h2>Lost password?</h2>
    <p>
      Simply leave the password field blank, click the Log In button, and we'll send you a coded link via email allowing you to reset your password.
    </p>
    <br>
    <p>Log In</p>                    
    <form action="/login" method="POST">
      <div class="small-12 large-2 columns">
        <input type="text" id="email" name="email" placeholder="Email address" class="large-4 columns clear">
      </div>
      <div class="small-12 large-2 columns">
        <input type="password" id="password" name="password" placeholder="Password" class="large-4 columns">&nbsp;
      <button id ="toggle-password-field" class="small button alert"> Show Password </button>
      </div>
    <div class="small-12 large-2 columns">
      <input type="submit" value="Log In" class="small button">
    </div>        
  </form>
  </div>
</div>
</div>

  <!-- Three-up Content Blocks -->
 
	<div class="row">
		<div class="large-4 columns">
      <%= image_tag("Twilio.jpg") %>
      <!-- <img src="http://placehold.it/400x300&text=[img]" /> -->
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
    	<%= image_tag("Evernote_icon.jpg") %>
      <!-- <img src="http://placehold.it/400x300&text=[img]" /> -->
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <%= image_tag("Facebook.jpg") %>
      <!-- <img src="http://placehold.it/400x300&text=[img]" /> -->
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
	
    </div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div> 

<!-- Check for Zepto support, load jQuery if necessary -->
<script>
  document.write('<script src=/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>

<!-- JS plugins for Foundation CSS, recommended to be at the end of doc.-->
<script src="/js/foundation.js"></script>
<script src="/js/foundation.alerts.js"></script>

<script src="/js/foundation.dropdown.js"></script>
<script src="/js/foundation.section.js"></script>
<!-- End of JS plugins for Foundation CSS -->

</body>

<!-- Initialize Foundation JS -->
<script>
  $(document).foundation();
</script>

</html>
