<!DOCTYPE html>
<html lang="en">
  <head>  
  <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="session.css.scss">

    <script src="/js/custom.modernizr.js"></script>
  </head>
<body id="body">
  
   <!--  <div class="row">
    <div class="small-12 large-12 columns">
 -->
       <header>
          <h1> Navv.<span class="it">It</span> </h1>   
       </header>
      
    <!-- <div class="small-3 large-9 large-centered columns">
      <div class="button_group">
      <a href="#" class="small_button">About Us</a>
      <a href="#" class="small_button">API's</a>
      <a href="#" class="small_button">Supported Countries</a>
      </div>
     </div> -->
    <!-- </div>
  </div> -->

<!-- End Header/Title -->
<!-- <div id="body"> -->
 <!-- Orbit Photo Slider Panel offset to left -->
<!-- <div class="row">
  <div class="large-12 small-12 columns">
    <div id="orbit_slider">
      <ul data-orbit>
        <li>
          <div><%= image_tag("") %></div>
         
        </li>
        <li>
          <div><%= image_tag("") %></div>
          
        </li>
        <li>
          <div><%= image_tag("") %></div>
         
        </li>
        <li>
          <%= image_tag("compass_dark_wide.png") %>
          <div class="orbit-caption">Or Just to Rub It In</div>
        </li>
      </ul>
    </div>
  </div>
</div> -->

  <!-- End of Orbit Photo Slider Panel -->

  <!-- Lost Password & Log In -->
<div class="login_panel">
  <div class="row">
  <div class="large-4 columns">
    <h2>Lost password?</h2>
    <br>
    <p id="lost_password">
      Simply leave the password field blank, click the Log In button, and we'll send you a coded link via email allowing you to reset your password.
    </p>
    <br>
  </div>
  
  <div class="large-4 columns">
    <p>Log In</p>  
    <form action="/login" method="POST"> 
      <div class="row">                 
        <div class="large-12 large-centered columns">
          <input type="text" id="email" name="email" placeholder="Email address" class="large-12 columns clear">
        </div>
      </div>
        <div class="row">
          <div class="large-12 large-centered columns">
            <input type="password" id="password" name="password" placeholder="Password" class="large-12 columns clear">&nbsp;
          </div>
      </div>
        <div class="row">
          <div class="large-6 large-centered columns">
          <button id ="toggle-password-field" class="small button alert"> Show Password </button>
          </div>
        </div>
          <div class="row">
            <div class="large-4 large-centered columns">
              <input type="submit" value="Log In" class="small button">
            </div>  
          </div> 
          <br>
  <!-- </div> -->
  </div>
</div>  
             <!--    Evernote and FB icon placement -->
<!--   <div class="row">
    <div class="large-2 large-centered columns"><%= image_tag("Evernote_icon.jpg") %>
    </div>
  
      <div class="row">
      <div class="large-3 large-centered columns"><%= image_tag("Facebook.jpg") %>
      </div>
    </div> 
  </div>   -->   
  </form>
  
   
 <!-- Call to Action Panel 
 <div class="row">  -->
    <!-- <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 large-centered columns">
            <p>We'd love to hear from you, you travel savvy person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button center">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div> -->
  </div>  

<!-- Check for Zepto support, load jQuery if necessary -->
<script>
  document.write('<script src=/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>

<!-- JS plugins for Foundation CSS, recommended to be at the end of doc.-->
<script src="/js/foundation.js"></script>
<script src="/js/foundation.alerts.js"></script>

<script src="/js/foundation.dropdown.js"></script>
<script src="/js/foundation.section.js"></script>
<!-- End of JS plugins for Foundation CSS -->

</body>

<!-- Initialize Foundation JS -->
<script>
  $(document).foundation();
    data-orbit: 
</script>

</html>













<!-- Below is Erin's Work -->
<!-- <!DOCTYPE html>
<html lang="en">
  <head>  --> 
  <!--  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'> -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="session.css.scss">
    <script src="/js/custom.modernizr.js"></script>
  </head>
<body>
  <div id="header_bar2">
    <div class="row">
    <div class="small-12 large-12 columns">
      <h1> Navv.It </h1>
    <div class="small-3 large-9 large-centered columns">
      <div class="button_group"> -->
      <!-- <a href="#" class="small_button">About Us</a>
      <a href="#" class="small_button">API's</a>
      <a href="#" class="small_button">Supported Countries</a>
      </div>
     </div>
    </div>
  </div>
</div> -->
<!-- End Header/Title -->
<!-- <div id="body"> -->
 <!-- Orbit Photo Slider Panel offset to left -->
<!-- <div class="row">
  <div class="large-12 small-12 columns">
    <div id="orbit_slider">
      <ul data-orbit>
        <li>
          <%= image_tag("") %>
          <div class="orbit-caption">Use Navv It No Matter Day or Night</div>
        </li>
        <li>
          <%= image_tag("") %>
          <div class="orbit-caption">Through Time and Space</div>
        </li>
        <li>
          <%= image_tag("") %>
          <div class="orbit-caption">Remote or Close</div>
        </li>
        <li>
          <%= image_tag("") %>
          <div class="orbit-caption">Or Just to Rub It In</div>
        </li> -->
      <!-- </ul>
    </div>
  </div>
</div> -->

  <!-- End of Orbit Photo Slider Panel -->

  <!-- Lost Password & Log In -->
<!-- <div class="login_panel">
  <div class="row">
  <div class="large-4 columns">
    <h2>Lost password?</h2>
    <br>
    <p id="lost_password">
      Simply leave the password field blank, click the Log In button, and we'll send you a coded link via email allowing you to reset your password.
    </p>
    <br>
  </div> -->
  
  <!-- <div class="large-4 columns">
    <p>Log In</p>  
    <form action="/login" method="POST"> 
      <div class="row">                 
        <div class="large-12 large-centered columns">
          <input type="text" id="email" name="email" placeholder="Email address" class="large-12 columns clear">
        </div>
      </div>
        <div class="row">
          <div class="large-12 large-centered columns">
            <input type="password" id="password" name="password" placeholder="Password" class="large-12 columns clear">&nbsp;
          </div>
      </div>
        <div class="row">
          <div class="large-6 large-centered columns">
          <button id ="toggle-password-field" class="small button alert"> Show Password </button>
          </div>
        </div>
          <div class="row">
            <div class="large-4 large-centered columns">
              <input type="submit" value="Log In" class="small button">
            </div>  
          </div> 
          <br>
  </div>
  </div>
</div>  
             <!-   Evernote and FB icon placement -->
<!--   <div class="row">
    <div class="large-2 large-centered columns"><%= image_tag("Evernote_icon.jpg") %>
    </div>
  
      <div class="row">
      <div class="large-3 large-centered columns"><%= image_tag("Facebook.jpg") %>
      </div>
    </div> 
  </div>   -->   
  <!-- </form> -->
   
   
 <!-- Call to Action Panel 
 <div class="row">  -->
    <!-- <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 large-centered columns">
            <p>We'd love to hear from you, you travel savvy person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button center">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div> -->
  <!-- </div>   -->

<!-- Check for Zepto support, load jQuery if necessary -->
 <!-- /*<script>
  document.write('<script src=/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>*/ -->

<!-- JS plugins for Foundation CSS, recommended to be at the end of doc.-->
<!-- <script src="/js/foundation.js"></script>
<script src="/js/foundation.alerts.js"></script>

<script src="/js/foundation.dropdown.js"></script>
<script src="/js/foundation.section.js"></script> -->
<!-- End of JS plugins for Foundation CSS -->

<!-- </body> -->

<!-- Initialize Foundation JS -->
<!-- /*<script>
  $(document).foundation();
    data-orbit: 
</script>

</html>*/ -->

