<div class="row">
	<div class="large-12 columns">

<h1>Add a new user</h1>

<%= form_for @user do |f| %>
	<%= f.text_field :email%>
	<%= f.password_field :password%>
	<%= f.password_field :password_password %>
	<%= f.submit %>

< %end% >

